.content-wrap {
    overflow-y: scroll;
    position: relative;
    height: fit-content;
  }
  
  .img-bg {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    object-fit: fill;
  }
  img{
    width: 100%;
    height:100%
  }
    
  .mcontent {
    position: relative;
  }